label > * {
    pointer-events: none;
}
header{
    width: 100%;
    height: 190px;
    font-family: "Times New Roman", Times, Georgia, "Microsoft JhengHei", 微軟正黑體, serif;
    background-color: transparent;
    .navTopWrap{
        display: relative;
        width: 100%;
        height: 120px;
        background-color: transparent;
        .navTop{
            width: 100%;
            height:120px;
            padding:40px 30px 10px ;
            display: absolute;
            .left-logo{
                .rolex-tudor{
                    .tudor{
                        width: 76px;
                        background-image: url(/img/tudor_120x60_en.png);
                        height: 39px;
                        background-size: cover;
                        padding: 0px;
                        float: left;
                        border: 0px;
                        margin-right: 5px;
                    }
                    .rolex{
                        width: 79px;
                        background-image: url(/img/Retailer_plaque_120x60-en.jpg);
                        height: 39px;
                        background-size: cover;
                        padding: 0px;
                        float: left;
                        border: 0px;
                    }
                }
                .left-item{
                    width: 167.516px;
                    height: 34px;
                    margin: 38px 20px 0 0;
                    float: left;
                    color: black;
                    margin-top: 38px;
                    line-height: 30px;
                    margin-right: 20px;
                    position: absolute;
                    .rmb{
                        display: inline-block;
                        position: absolute;
                        padding-right: 10px;
                        top: 4px;
                        &:hover{
                            .rmb-price{
                                opacity: 1;
                            }
                        }
                        .rmb-price{
                            position: absolute;
                            opacity: 0;
                            .crmRegionCN{
                                height: 40px !important;
                                width: 100%;
                                display: none;
                                position: relative;
                                top: auto;
                                left: auto;
                                color: inherit;
                                font-size: inherit;          
                                position: absolute;     
                            }
                        }            
                        }
                        a{
                            color: #020202;
                            text-decoration: none;
                        }
                    }
                   
                   
                  
                    }
                    .wz{
                        display: block;
                        margin-left: 10px;
                        position: absolute;
                        left: 79px;
                        top: 5px;
                    }
                    .search{
                        position: absolute;
                        left: 131px;
                        width:240px;
                        height: 43px;
                        padding: 5px;
                        border: 1px solid #020202;
                        a{
                            i{
                                display: block;
                                width: 23.22px;
                                height: 25px;
                                background-image: url(/img/wenhao.png);
                            }
                        }
                        input{
                            width:228px;
                            height: 30px;
                            padding: 1px 25px 1px 30px;
                            background:none;
                            border-radius: 0;
                            text-indent: 10px;
                            box-sizing: border-box;
                            line-height: normal;
                            appearance: none;
                            border: none;
                            display: inline-block;
                            position: absolute;
                            top: 5px;
                        }
                        input:focus{
                            outline: none;
                     }

                    }
                    
                }
                .logo{
                    margin: 0 auto;
                    background-size: 240px 140px;
                    background-repeat: no-repeat;
                    background-position: 0 -70px;
                    width: 240px;
                    height: 70px;
                    background-image: url(/img/logo.png);
                }
                .right-sh{
                    float: right;
                    color: black;
                    line-height: 30px;
                    // background-color: #bfa;
                
                .item{
                    height: 31px;
                    width: 248px;
                    position: relative;
                    margin-top: -31px;
                    .not-log{
                        display: flex;
                        justify-content:space-between;
    
                    a{
                        color: #020202;
                        text-decoration: none;
                        display: inline;
                    }
                    .icon-mianxing-08{
                        font-size: 25px;
                     
                    }
                    .icon-gouwudai{
                        font-size: 25px;
                    }
                    .xinyuan{
                        width: 14px;
                        height: 14px;
                        background-color: #cecece;
                        color: #020202;
                        border-radius: 9px;
                        position: absolute;
                        top: -3px;
                        left: 125px;
                        p{
                            line-height: 14px;
                            font-size: 14px;
                            text-align: center;

                        }
                    }
                    .yuan{
                        width: 14px;
                        height: 14px;
                        background-color: #cecece;
                        color: #020202;
                        border-radius: 9px;
                        position: absolute;
                        top: -3px;
                        left: 165px;
                        p{
                            line-height: 14px;
                            font-size: 14px;
                            text-align: center;
                        }
                    }
                    /*
                        金价资讯
                        .gold-price{
                        position: absolute;
                        top: 30px;
                        right: -15px;
                        background: white;
                        padding: 15px;
                        z-index: 1;
                        display: none;
                        color: black;
                        text-align: left;
                        line-height: 1.2;
                        box-shadow: 0 5px 10px #ccc ;
                    }*/
                }
                }
            }
            }
    .navBottom{
                width: 100%;
                height: 80px;
                overflow: hidden;
                padding-bottom: 15px;
                border-bottom: 1px solid #cecece;
                background-color: transparent;
                ul{
                    margin-top: 20px;
                    list-style-type: none;
                    margin: 30px auto 0 auto;
                    width: 850px;
                    display: flex;
                    justify-content:space-between;
                    cursor: pointer;
                    padding: 0;
                    li{
                        height: 50px;
                        line-height: 50px;
                        .xia{
                            color: #020202;
                            font-size: 5px;
                        }
                    }
                }
            }
            
         }
    .navBottom2{
            display: none;
            width: 100%;
            text-align: center;
            background-color: #fff !important;
            position: fixed;
            top: 0;
            z-index: 999;
            // left: 18%;
            img{
                margin: 0 auto;
                width: 120px;
                height: 30px;
            }
            ul{
                margin: 0 auto !important;
            }
            .rolex-tudor{
                position: absolute;
                top:20px;
                .tudor{
                    width: 76px;
                    background-image: url(/img/tudor_120x60_en.png);
                    height: 39px;
                    background-size: cover;
                    padding: 0px;
                    float: left;
                    border: 0px;
                    margin-right: 5px;
                }
                .rolex{
                    width: 79px;
                    background-image: url(/img/Retailer_plaque_120x60-en.jpg);
                    height: 39px;
                    background-size: cover;
                    padding: 0px;
                    float: left;
                    border: 0px;
                }           
            }
            .bright-sh{
                height: 33px;
                width:78px;
                position: fixed;
                top:20px;
                right:30px;
                display: flex;
                justify-content:space-between;
                .iconwrap{
                    p{
                        margin: 0 !important;
                        position:absolute;
                        top:0;
                    }
                }
                .iconwrap1{
                    position: fixed;
                    // top: 34px;
                    z-index: 100;
                    // right: 60px;
                    font-size: 17px;
                    .icon-mianxing-08{
                        font-size: 25px;
                        }
                }
                .iconwrap2{
                    position: fixed;
                    // top: 34px;
                    z-index: 100;
                    right: 40px;
                    .icon-gouwudai{
                    font-size: 25px;
                    }
    
                }
                
            }
        }  
    
  
    
aside{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding:38px 30px;
    overflow: hidden;
    h2{
        box-sizing: border-box;
        color: #454545;
        display: block;
        float: left;
        font-family: "Times New Roman", Times, Georgia, "Microsoft JhengHei", 微軟正黑體, serif;
        font-size: 40px;
        font-weight: 500;
        height: 44px;
        line-height: 44px;
        margin-bottom: 10px;
        margin-top: 20px;
        text-rendering: optimizeLegibility;
        text-size-adjust: 100%;
    }
    }
    .dengjibanxin{
        margin: 0 auto;
        display: block;
        max-width: 1170px;
        width: 90%;
        position: relative;
        .dengji{
            display: table-cell;
            vertical-align: top;
            padding: 0 245px 100px ;
            width: 100%;
           .title {
                font-size: 35px;
                font-weight: normal;
                margin-top: 0;
                margin-bottom: 30px;
                text-align: center;
                h2{
                    margin-bottom: 30px;
                }
                p{
                    color: #aaa;
                    max-width: 680px;
                    margin: 0 auto;
                    font-size: 15px;
                }
                }
            }
            .form-registration{
                padding: 60px 0 0;
                .field-grid {
                    max-width: 680px;
                    margin: 0 auto;
                    text-align: left;
                    tr {
                        display: table-row;
                        vertical-align: inherit;
                        border-color: inherit;
                        
                    }
                }
            }
        }
        .field-grid {
            width: 100%;
            table-layout: fixed;
            text-align: left; }
            .field-grid.field-grid--m td:first-child {
              width: 48%;
              padding-right: 20px; }
              @media screen and (max-width: 767px) {
                .field-grid.field-grid--m td:first-child {
                  width: 100%; } }
            @media screen and (max-width: 767px) {
              .field-grid tbody {
                width: 100%;
                display: block; } }
            .field-grid td {
              padding: 8px 5%;
              vertical-align: middle;
              font-size: 1rem;
              padding-left: 0;
              padding-right: 0; }
              .field-grid td .field-row {
                margin-top: 0;
                margin-bottom: 0; }
              .field-grid td:first-child {
                width: 30%;
                padding-left: 0;
                padding-right: 5%;
                font-weight: bold; }
                @media screen and (max-width: 767px) {
                  .field-grid td:first-child {
                    width: 100%;
                    font-weight: bold;
                    padding-top: 20px; } }
                .form-service-request .field-grid td:first-child {
                  font-weight: normal; }
                  @media screen and (max-width: 767px) {
                    .form-service-request .field-grid td:first-child {
                      font-weight: normal; } }
              @media screen and (max-width: 767px) {
                .field-grid td {
                  padding: 5px 0 0;
                  font-size: 14px; }
                  .field-grid td.field-grid__empty-cell {
                    padding: 0; } }
              @media screen and (max-width: 767px) {
                .field-grid td .custom-radio {
                  padding-top: 10px; } }
            @media screen and (max-width: 767px) {
              .field-grid {
                display: block; }
                .field-grid tr, .field-grid td {
                  display: block;
                  width: 100%; }
                  .field-grid tr.empty, .field-grid td.empty {
                    display: none; } }
            .field-grid tr:first-child td:first-child {
              padding-top: 0; }
            .popup-box .field-grid td:first-child {
              font-weight: bold; }
            .popup-box .field-grid .custom-select,
            .popup-box .field-grid .field {
              font-size: 14px; }
          
          .field-grid td.field-grid__banner-cell:first-child {
            padding-left: 0;
            padding-right: 0; }
          
          .field-grid__banner-cell a:hover {
            opacity: 1; }
          .field-grid__banner-cell img {
            margin-top: 15px;
            max-width: 100%; }
            .field-grid__banner-cell img.ver-dt {
              display: block; }
              @media screen and (max-width: 767px) {
                .field-grid__banner-cell img.ver-dt {
                  display: none; } }
            .field-grid__banner-cell img.ver-mb {
              display: none; }
              @media screen and (max-width: 767px) {
                .field-grid__banner-cell img.ver-mb {
                  display: block; } }
                  
footer{
    width: 100%;
    height: 390px;
    padding: 35px 0;
    background-color: #000;
    color: white;
    padding: 35px 0px;
    font-size: 12px;
    .container{
        width: 1200px;
        margin: 0 auto;
        position: relative;
        margin-bottom: 80px;
        ul{
            list-style-type: none;
            padding-left:0;
            float: left;
            li{
                width: 156px;
                padding: 5px;
            }
        }        
    }
    .footericon{
        width: 1200px;
        margin-left: 80px;
        padding: 0;
        height: 17px;
        display: flex;
        justify-content: space-between;
        float: left;
        p{
            font-size: 17px;
        }
    }
    
}